<div class="skillList">
    <div class="skillList-header">
        <h1>Skills</h1>
    </div>
    
    <div data-ng-repeat="entity in vm.entities" class="skillList-item">
        <div class="skillList-name">
            {{ entity.name }}
        </div>
        <div class="skillList-actions">
            <span data-ng-click="vm.edit({ entity: this.entity })">edit</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span data-ng-click="vm.remove({ entity: this.entity })">remove</span>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>
