<div class="resourceList">
    <div class="resourceList-header">
        <h1>Resources</h1>
    </div>
    
    <div data-ng-repeat="entity in vm.entities" class="resourceList-item">
        <div class="resourceList-name">
            {{ entity.name }}
        </div>
        <div class="resourceList-actions">
            <span data-ng-click="vm.edit({ entity: this.entity })">edit</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span data-ng-click="vm.remove({ entity: this.entity })">remove</span>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>
