<div class="projectList">
    <div class="projectList-header">
        <h1>Projects</h1>
    </div>
    
    <div data-ng-repeat="entity in vm.entities" class="projectList-item">
        <div class="projectList-name">
            {{ entity.name }}
        </div>
        <div class="projectList-actions">
            <span data-ng-click="vm.edit({ entity: this.entity })">edit</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span data-ng-click="vm.remove({ entity: this.entity })">remove</span>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>
